# Data Types & Basic Programs
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Write a program to take principal amount, rate and interest as input and calculate simple interest.

In [42]:
def simple_interest(p, t, r):
    print('The pricipal is ', p)
    print('The time period is', t)
    print('The rate of interest is', r)
    si= (p*t*r)/100
    print('The Simple Interest is', si)
    return si
simple_interest(9,8,9)

The pricipal is  9
The time period is 8
The rate of interest is 9
The Simple Interest is 6.48

6.48

#### 2. Write a program that takes a string as input and prints the number of words in the string.

In [43]:
string = input("Enter the String Here : ")
print("Number of words in this string : ",len(string))

Enter the String Here : Madhavan
Number of words in this string :  8

#### 3. Write a program to take a list of numbers as input (in a single line) and print the sum, avg, max and min elements.

In [6]:
numbers = input("Enter a numbers by spaces: ")
real_num = [float(num) for num in numbers.split()]
print("Sum:", sum(real_num))
print("Average:", sum(real_num) / len(real_num))
print("Maximum:", max(real_num))
print("Minimum:", min(real_num))

Enter a numbers  by spaces: 1 2 3 4 5
Sum: 15.0
Average: 3.0
Maximum: 5.0
Minimum: 1.0

#### 4. Write a program to take the marks of 3 students in five subjects each as a list (one list for each input) as input and print the average score of each student..

In [68]:
num_of_stud = int(input("Enter the number of students  : "))
for num in range(num_of_stud):
    roll_num = int(input("Enter the roll number : "))
    tamil = float(input("Enter the student Tamil Mark : "))
    english = float(input("Enter the student English Mark : "))
    maths = float(input("Enter the student Maths Mark : "))
    science = float(input("Enter the student science Mark : "))
    social = float(input("Enter the student social Mark : "))
    average = (tamil + english + maths + science + social) / 5
    print(f"Average score of {roll_num} is ", average)

Enter the number of students  : 2
Enter the roll number : 1001
Enter the student Tamil Mark : 12
Enter the student English Mark : 23
Enter the student Maths Mark : 34
Enter the student science Mark : 45
Enter the student social Mark : 56
Average score of 1001 is  34.0
Enter the roll number : 2002
Enter the student Tamil Mark : 24
Enter the student English Mark : 45
Enter the student Maths Mark : 67
Enter the student science Mark : 54
Enter the student social Mark : 23
Average score of 2002 is  42.6

#### 5. Write a program to take a list as input containing results of 10 coin tosses as 'H' or 'T'. Jon gets a point for each 'T' and Tom gets a point for each 'H'. print the points recieved by both.

In [45]:
toss_results = input("Enter the results of 10 coin tosses only [H/T] : ")
Jon_points = 0
Tom_points = 0
for result in toss_results:
    if result == 'H':
        Tom_points += 1
    elif result == 'T':
        Jon_points += 1
print("Jon's points:", Jon_points)
print("Tom's points:", Tom_points)

Enter the results of 10 coin tosses only [H/T] : HHHHHTTTTT
Jon's points: 5
Tom's points: 5

#### 6. Take two numbers as input and print the result after swapping them. (Without using multiple assignment and any extra variable).

In [37]:
num1 = int(input("Enter the first number  : "))
num2 = int(input("Enter the second number : "))
print(f"Before swapping first Number : {num1} second Number : {num2}")
num1,num2 = num2, num1
print(f"After swapping first Number : {num1} second Number : {num2}")

Enter the first number  : 1
Enter the second number : 2
Before swapping first Number : 1 second Number : 2
After swapping first Number : 2 second Number : 1

#### 7. Take a list as input in a single line containing 10 numbers as marks out of 100. The even positions in the list are marks of Tom and the odd positions are the marks of Jon. Calculate the average marks of both.

In [38]:
total_marks = input("Enter a numbers by spaces: ")
mark = [float(num) for num in total_marks.split()]
tom_marks = mark[::2]  
jon_marks = mark[1::2]  
avg_tom_marks = sum(tom_marks) / len(tom_marks)
avg_jon_marks = sum(jon_marks) / len(jon_marks)
print("Average marks for Tom:", avg_tom_marks)
print("Average marks for Jon:", avg_jon_marks)

Enter a numbers by spaces: 10 20 10 20 10 20 10 20 10 20
Average marks for Tom: 10.0
Average marks for Jon: 20.0

#### 8. Take a string and a character as input. Print the result having the character between each word of the given string.

In [50]:
input_string = input("Enter a string sepratze b (,): ")
input_char = input("Enter a character: ")
words = input_string.split(',')
result = input_char.join(words)
print("Result:", result)

Enter a string sepratze b (,): M,A,D,D,Y,S
Enter a character: z
Result: MzAzDzDzYzS

#### 9. Create a dictionary having three items. Key of each item is the name of a student, value associated with each key is a list of marks in five subjects. Given this dictionary print the average score of each student.

In [58]:
students = {'Karan':[10,20,30,40,50], 'Madhav' : [100,100,100,100,100] , 'Ajay': [10,20,50,60,80]}
for student, marks in students.items():
    average = sum(marks) / len(marks)
    print(f"Average score for {student}: {average}")

Average score for Karan: 30.0
Average score for Madhav: 100.0
Average score for Ajay: 44.0

#### 10. Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.

In [67]:
strings = input("Enter the string : ")
unique_words , ls_string = set(strings) ,list(unique_words)
print(ls_string)

Enter the string : maaad
['a', 'd', 'm']