In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\systems\anaconda3\lib\site-packages (8.1.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\systems\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

### Question 1

In [ ]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Evil@12345"
)
mycursor = mydb.cursor()

In [7]:
mycursor.execute("DROP DATABASE AssignmentScoresDB")

In [8]:
mycursor.execute("CREATE DATABASE AssignmentScoresDB")
mycursor.execute("USE AssignmentScoresDB")

# Create a table to store assignment scores
create_table_query = """
CREATE TABLE AssignmentScores (
    StudentID INT PRIMARY KEY,
    StudentName VARCHAR(50),
    Assignment1 INT,
    Assignment2 INT,
    Assignment3 INT,
    Assignment4 INT,
    Assignment5 INT
);
"""
mycursor.execute(create_table_query)

In [9]:
insert_data_query = """
INSERT INTO AssignmentScores (StudentID, StudentName, Assignment1, Assignment2, Assignment3, Assignment4, Assignment5)
VALUES
    (1, 'Aakash', 90, 85, 78, 92, 88),
    (2, 'Mathumitha', 88, 92, 76, 85, 90),
    (3, 'Madhavan', 85, 80, 92, 89, 91),
    (4, 'Saranya', 92, 89, 93, 94, 87),
    (5, 'Vijay', 89, 78, 86, 90, 84),
    (6, 'Arnold', 91, 87, 90, 92, 89);
"""

mycursor.execute(insert_data_query)
mydb.commit()

In [10]:
calculate_total_score_query = """
SELECT StudentID, StudentName, 
    Assignment1 + Assignment2 + Assignment3 + Assignment4 + Assignment5 AS TotalScore
FROM AssignmentScores
ORDER BY TotalScore DESC
LIMIT 1;
"""

mycursor.execute(calculate_total_score_query)
topper_student = mycursor.fetchone()

In [14]:
if topper_student:
    student_id, student_name, total_score = topper_student
    print(f"The topper student is {student_name} StudentID : {student_id} with a total score of {total_score}")
else:
    print("No data found.")
mydb.commit()
mydb.close()

The topper student is Saranya StudentID : 4 with a total score of 455

### Question 2

In [41]:
import mysql.connector

In [42]:
mydb = mysql.connector.connect(user = 'root',
                               password = 'Evil@12345',
                               host = 'localhost')
mycursor = mydb.cursor()

In [43]:
mycursor.execute("DROP DATABASE Employee_Assignment")

In [44]:
mycursor.execute("Create DATABASE Employee_Assignment")
mycursor.execute("USE Employee_Assignment")

In [45]:
create_query = '''CREATE TABLE Employee_Assignment (
    emp_id INT PRIMARY KEY,
    f_name VARCHAR(20) NOT NULL,
    l_name VARCHAR(20) NOT NULL,
    age INT NOT NULL,
    gender VARCHAR(20) NOT NULL,
    salary INT NOT NULL,
    city VARCHAR(20) NOT NULL,
    dept VARCHAR(20) NOT NULL
)'''
mycursor.execute(create_query)

In [46]:
insert_query = "INSERT INTO Employee_Assignment (emp_id, f_name, l_name, age, gender, salary, city, dept) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"

# List of tuples with data to be inserted
data = [
    (1, "Madhav", "Bala", 30, "Male", 50000, "Japan", "HR"),
    (2, "Aakash", "Nair", 30, "Male", 50000, "Vali", "HR"),
    (3, "Mathu", "Mitha", 35, "Female", 60000, "Kilpauk", "Finance"),
    (4, "Ajith", "Kumar", 43, "Male", 6000, "Island", "IT"),
    (5, "Vijay", "Thalapathy", 20, "Male", 8000, "Vada Chennai", "Tester"),
    (6, "Arold", "kumar", 35, "Male", 7000, "Hell", "Developer")
]
mycursor.executemany(insert_query, data)

In [47]:
update_query = "UPDATE Employee_Assignment SET salary = %s WHERE emp_id = %s"
update_data = (55000, 1)
mycursor.execute(update_query, update_data)

In [48]:
delete_query = "DELETE FROM Employee_Assignment WHERE emp_id = 6"
mycursor.execute(delete_query)
mydb.commit()
mydb.close()