In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\systems\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\systems\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [15]:
import mysql.connector
def mysql_connection(user, password, host):
    mydb = mysql.connector.connect(user=user, password=password, host=host)
    return mydb
mydb = mysql_connection('root', 'Evil@12345', 'localhost')

In [16]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("DROP DATABASE PYTHON_SQL_Assignment1")

In [4]:
mycursor.execute("Create DATABASE PYTHON_SQL_Assignment1")

In [5]:
def create_employee_table():
    create_query = '''CREATE TABLE PYTHON_SQL_Assignment1.employee (
        emp_id INT PRIMARY KEY,
        f_name VARCHAR(20) NOT NULL,
        l_name VARCHAR(20) NOT NULL,
        age INT NOT NULL,
        gender VARCHAR(20) NOT NULL,
        salary INT NOT NULL,
        city VARCHAR(20) NOT NULL,
        dept VARCHAR(20) NOT NULL
    )'''

    mycursor.execute(create_query)
    mydb.close()
create_employee_table()

In [7]:
def insert_employee_data(data):
    insert_query = "INSERT INTO PYTHON_SQL_Assignment1.employee (emp_id, f_name, l_name, age, gender, salary, city, dept) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
    mycursor.executemany(insert_query, data)
    mydb.commit()
data = [
    (1, "Madhav", "Bala", 30, "Male", 50000, "N York", "HR"),
    (2, "Aakash", "Nair", 30, "Male", 50000, "New York", "HR"),
    (3, "Mathu", "Mitha", 35, "Female", 60000, "Los Angeles", "Finance")
]
insert_employee_data(data)

In [10]:
def update_query():
    update_query = "UPDATE PYTHON_SQL_Assignment1.employee SET salary = %s WHERE emp_id = %s"
    update_data = (55000, 1)
    mycursor.execute(update_query, update_data)
    mydb.commit()
update_query()

In [12]:
def delete_query():
    delete_query = 'DELETE FROM PYTHON_SQL_Assignment1.employee WHERE dept = "Finance"'
    mycursor.execute(delete_query)
    mydb.commit()
delete_query()